In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings; warnings.filterwarnings(action='once')

In [2]:


#reading vaccine adverse events data 
df1 = pd.read_csv('2019VAERSData.csv', encoding = 'latin-1')

#reading the profile of the dataframe
#pandas_profiling.ProfileReport(df1)

#reading vaccine info data
df2 = pd.read_csv('2019VAERSVAX.csv', encoding = 'latin-1')

In [3]:
df1.index

RangeIndex(start=0, stop=24222, step=1)

In [4]:
df1.shape

(24222, 35)

In [5]:
df1.dtypes

VAERS_ID          int64
RECVDATE         object
STATE            object
AGE_YRS         float64
CAGE_YR         float64
CAGE_MO         float64
SEX              object
RPT_DATE         object
SYMPTOM_TEXT     object
DIED             object
DATEDIED         object
L_THREAT         object
ER_VISIT         object
HOSPITAL         object
HOSPDAYS        float64
X_STAY           object
DISABLE          object
RECOVD           object
VAX_DATE         object
ONSET_DATE       object
NUMDAYS         float64
LAB_DATA         object
V_ADMINBY        object
V_FUNDBY         object
OTHER_MEDS       object
CUR_ILL          object
HISTORY          object
PRIOR_VAX        object
SPLTTYPE         object
FORM_VERS         int64
TODAYS_DATE      object
BIRTH_DEFECT     object
OFC_VISIT        object
ER_ED_VISIT      object
ALLERGIES        object
dtype: object

In [6]:
df2.index

RangeIndex(start=0, stop=30838, step=1)

In [7]:
df2.shape

(30838, 8)

In [8]:
df2.dtypes

VAERS_ID            int64
VAX_TYPE           object
VAX_MANU           object
VAX_LOT            object
VAX_DOSE_SERIES    object
VAX_ROUTE          object
VAX_SITE           object
VAX_NAME           object
dtype: object

In [9]:
df1.isnull().sum()

VAERS_ID            0
RECVDATE            0
STATE            7815
AGE_YRS          6274
CAGE_YR          7198
CAGE_MO         22103
SEX                 0
RPT_DATE        22939
SYMPTOM_TEXT        2
DIED            24092
DATEDIED        24162
L_THREAT        24039
ER_VISIT        24049
HOSPITAL        23175
HOSPDAYS        23722
X_STAY          24204
DISABLE         23655
RECOVD           1357
VAX_DATE         3640
ONSET_DATE       5327
NUMDAYS          6039
LAB_DATA        16902
V_ADMINBY           0
V_FUNDBY        22903
OTHER_MEDS      12079
CUR_ILL         13302
HISTORY         13444
PRIOR_VAX       23073
SPLTTYPE        13919
FORM_VERS           0
TODAYS_DATE      1413
BIRTH_DEFECT    24209
OFC_VISIT       18157
ER_ED_VISIT     22188
ALLERGIES       13754
dtype: int64

In [10]:
df1.head()

,VAERS_ID,RECVDATE,STATE,AGE_YRS,CAGE_YR,CAGE_MO,SEX,RPT_DATE,SYMPTOM_TEXT,DIED,...,CUR_ILL,HISTORY,PRIOR_VAX,SPLTTYPE,FORM_VERS,TODAYS_DATE,BIRTH_DEFECT,OFC_VISIT,ER_ED_VISIT,ALLERGIES
0,794156,01/01/2019,NaN,69.0,69.0,NaN,F,NaN,"Severe pain Lt. shoulder area, very localized ...",NaN,...,none,none,NaN,NaN,2,01/01/2019,NaN,Y,NaN,tetracycline
1,794157,01/01/2019,IL,68.0,68.0,NaN,F,NaN,"Much joint pain/aching, lack of energy, listle...",NaN,...,None,Hypothryoidism,Arm soreness at site of injection,NaN,2,01/01/2019,NaN,NaN,NaN,None
2,794158,01/01/2019,MA,62.0,62.0,NaN,F,NaN,"Headache, Fever, Chills, Body Aches, Nausea la...",NaN,...,None,None,NaN,NaN,2,01/01/2019,NaN,NaN,NaN,None
3,794159,01/01/2019,UT,5.0,5.0,NaN,M,NaN,"Site is swollen, red and warm to the touch. Pa...",NaN,...,Small red spot on his cheek at time of visit.,None,NaN,NaN,2,01/01/2019,NaN,NaN,NaN,Amoxicillin
4,794160,01/01/2019,TX,79.0,79.0,NaN,F,NaN,"FLU LIKE: CHILLS ACHE ALL OVER; STRONG PAIN, W...",NaN,...,SINUSITIS; ATHROSCLEROSIS; DIABETES; HYPERCHOL...,SAME AS ITEM 11 ABOVE,NaN,NaN,2,01/01/2019,NaN,Y,Y,ACE INHIBITORS

In [11]:
df3 = df1.iloc[:, [0, 3, 6,13,14,15,16,17,31,34]] #keeping required columns from df1

In [12]:
df3.head()

,VAERS_ID,AGE_YRS,SEX,HOSPITAL,HOSPDAYS,X_STAY,DISABLE,RECOVD,BIRTH_DEFECT,ALLERGIES
0,794156,69.0,F,NaN,NaN,NaN,NaN,Y,NaN,tetracycline
1,794157,68.0,F,NaN,NaN,NaN,NaN,N,NaN,None
2,794158,62.0,F,NaN,NaN,NaN,NaN,Y,NaN,None
3,794159,5.0,M,NaN,NaN,NaN,NaN,Y,NaN,Amoxicillin
4,794160,79.0,F,NaN,NaN,NaN,NaN,N,NaN,ACE INHIBITORS

In [13]:
df2.head()

,VAERS_ID,VAX_TYPE,VAX_MANU,VAX_LOT,VAX_DOSE_SERIES,VAX_ROUTE,VAX_SITE,VAX_NAME
0,794156,FLU4,GLAXOSMITHKLINE BIOLOGICALS,JZ3B7,UNK,IM,LA,INFLUENZA (SEASONAL) (FLUARIX QUADRIVALENT)
1,794157,VARZOS,GLAXOSMITHKLINE BIOLOGICALS,NaN,UNK,NaN,NaN,ZOSTER (SHINGRIX)
2,794158,VARZOS,GLAXOSMITHKLINE BIOLOGICALS,NaN,UNK,NaN,NaN,ZOSTER (SHINGRIX)
3,794159,DTAPIPV,GLAXOSMITHKLINE BIOLOGICALS,G9P35,1,IM,LL,DTAP + IPV (KINRIX)
4,794159,MMRV,MERCK & CO. INC.,R015744,1,SC,LL,MEASLES + MUMPS + RUBELLA + VARICELLA (PROQUAD)

In [14]:
df4 = df2.iloc[:, [0, 1, 2,5,6,7]] #keeping required columns from df2

In [15]:
df4.head()

,VAERS_ID,VAX_TYPE,VAX_MANU,VAX_ROUTE,VAX_SITE,VAX_NAME
0,794156,FLU4,GLAXOSMITHKLINE BIOLOGICALS,IM,LA,INFLUENZA (SEASONAL) (FLUARIX QUADRIVALENT)
1,794157,VARZOS,GLAXOSMITHKLINE BIOLOGICALS,NaN,NaN,ZOSTER (SHINGRIX)
2,794158,VARZOS,GLAXOSMITHKLINE BIOLOGICALS,NaN,NaN,ZOSTER (SHINGRIX)
3,794159,DTAPIPV,GLAXOSMITHKLINE BIOLOGICALS,IM,LL,DTAP + IPV (KINRIX)
4,794159,MMRV,MERCK & CO. INC.,SC,LL,MEASLES + MUMPS + RUBELLA + VARICELLA (PROQUAD)

In [16]:
df3.sort_values(by=['VAERS_ID'])
df3.head()

,VAERS_ID,AGE_YRS,SEX,HOSPITAL,HOSPDAYS,X_STAY,DISABLE,RECOVD,BIRTH_DEFECT,ALLERGIES
0,794156,69.0,F,NaN,NaN,NaN,NaN,Y,NaN,tetracycline
1,794157,68.0,F,NaN,NaN,NaN,NaN,N,NaN,None
2,794158,62.0,F,NaN,NaN,NaN,NaN,Y,NaN,None
3,794159,5.0,M,NaN,NaN,NaN,NaN,Y,NaN,Amoxicillin
4,794160,79.0,F,NaN,NaN,NaN,NaN,N,NaN,ACE INHIBITORS

In [17]:
df4.sort_values(by=['VAERS_ID'])
df4.head()

,VAERS_ID,VAX_TYPE,VAX_MANU,VAX_ROUTE,VAX_SITE,VAX_NAME
0,794156,FLU4,GLAXOSMITHKLINE BIOLOGICALS,IM,LA,INFLUENZA (SEASONAL) (FLUARIX QUADRIVALENT)
1,794157,VARZOS,GLAXOSMITHKLINE BIOLOGICALS,NaN,NaN,ZOSTER (SHINGRIX)
2,794158,VARZOS,GLAXOSMITHKLINE BIOLOGICALS,NaN,NaN,ZOSTER (SHINGRIX)
3,794159,DTAPIPV,GLAXOSMITHKLINE BIOLOGICALS,IM,LL,DTAP + IPV (KINRIX)
4,794159,MMRV,MERCK & CO. INC.,SC,LL,MEASLES + MUMPS + RUBELLA + VARICELLA (PROQUAD)

In [18]:
df5 = pd.concat([df3,df4], axis =1) #combining adverse events and vaccine info datasets
df5.head()

,VAERS_ID,AGE_YRS,SEX,HOSPITAL,HOSPDAYS,X_STAY,DISABLE,RECOVD,BIRTH_DEFECT,ALLERGIES,VAERS_ID,VAX_TYPE,VAX_MANU,VAX_ROUTE,VAX_SITE,VAX_NAME
0,794156.0,69.0,F,NaN,NaN,NaN,NaN,Y,NaN,tetracycline,794156,FLU4,GLAXOSMITHKLINE BIOLOGICALS,IM,LA,INFLUENZA (SEASONAL) (FLUARIX QUADRIVALENT)
1,794157.0,68.0,F,NaN,NaN,NaN,NaN,N,NaN,None,794157,VARZOS,GLAXOSMITHKLINE BIOLOGICALS,NaN,NaN,ZOSTER (SHINGRIX)
2,794158.0,62.0,F,NaN,NaN,NaN,NaN,Y,NaN,None,794158,VARZOS,GLAXOSMITHKLINE BIOLOGICALS,NaN,NaN,ZOSTER (SHINGRIX)
3,794159.0,5.0,M,NaN,NaN,NaN,NaN,Y,NaN,Amoxicillin,794159,DTAPIPV,GLAXOSMITHKLINE BIOLOGICALS,IM,LL,DTAP + IPV (KINRIX)
4,794160.0,79.0,F,NaN,NaN,NaN,NaN,N,NaN,ACE INHIBITORS,794159,MMRV,MERCK & CO. INC.,SC,LL,MEASLES + MUMPS + RUBELLA + VARICELLA (PROQUAD)

In [19]:
df5.dtypes

VAERS_ID        float64
AGE_YRS         float64
SEX              object
HOSPITAL         object
HOSPDAYS        float64
X_STAY           object
DISABLE          object
RECOVD           object
BIRTH_DEFECT     object
ALLERGIES        object
VAERS_ID          int64
VAX_TYPE         object
VAX_MANU         object
VAX_ROUTE        object
VAX_SITE         object
VAX_NAME         object
dtype: object

In [20]:
df6 = df5.loc[df5['HOSPITAL'] == 'Y'] # identifying the hosptalized population data because of the adverse events

In [21]:
df6.head()

,VAERS_ID,AGE_YRS,SEX,HOSPITAL,HOSPDAYS,X_STAY,DISABLE,RECOVD,BIRTH_DEFECT,ALLERGIES,VAERS_ID,VAX_TYPE,VAX_MANU,VAX_ROUTE,VAX_SITE,VAX_NAME
25,794190.0,NaN,F,Y,NaN,NaN,NaN,N,NaN,NaN,794178,FLU4,"SEQIRUS, INC.",IM,NaN,INFLUENZA (SEASONAL) (AFLURIA QUADRIVALENT)
26,794191.0,NaN,M,Y,NaN,NaN,NaN,N,NaN,NaN,794178,JEV1,INTERCELL AG,IM,NaN,JAPANESE ENCEPHALITIS (IXIARO)
30,794195.0,4.00,M,Y,NaN,NaN,NaN,Y,NaN,NaN,794181,VARZOS,GLAXOSMITHKLINE BIOLOGICALS,ID,LA,ZOSTER (SHINGRIX)
45,794217.0,0.33,M,Y,6.0,NaN,NaN,N,NaN,none,794205,MMRV,MERCK & CO. INC.,SYR,UN,MEASLES + MUMPS + RUBELLA + VARICELLA (PROQUAD)
63,794268.0,1.00,M,Y,2.0,NaN,NaN,Y,NaN,None,794226,VARZOS,GLAXOSMITHKLINE BIOLOGICALS,IM,UN,ZOSTER (SHINGRIX)

In [22]:
df7 = df6.loc[df6['HOSPDAYS'] >= 1.0]
df7.head()

,VAERS_ID,AGE_YRS,SEX,HOSPITAL,HOSPDAYS,X_STAY,DISABLE,RECOVD,BIRTH_DEFECT,ALLERGIES,VAERS_ID,VAX_TYPE,VAX_MANU,VAX_ROUTE,VAX_SITE,VAX_NAME
45,794217.0,0.33,M,Y,6.0,NaN,NaN,N,NaN,none,794205,MMRV,MERCK & CO. INC.,SYR,UN,MEASLES + MUMPS + RUBELLA + VARICELLA (PROQUAD)
63,794268.0,1.00,M,Y,2.0,NaN,NaN,Y,NaN,None,794226,VARZOS,GLAXOSMITHKLINE BIOLOGICALS,IM,UN,ZOSTER (SHINGRIX)
98,794330.0,1.00,M,Y,2.0,NaN,NaN,Y,NaN,None,794291,VARZOS,MERCK & CO. INC.,UN,NaN,ZOSTER LIVE (ZOSTAVAX)
114,794350.0,0.33,F,Y,2.0,NaN,NaN,Y,NaN,none,794306,VARZOS,GLAXOSMITHKLINE BIOLOGICALS,IM,RA,ZOSTER (SHINGRIX)
187,794472.0,84.00,M,Y,4.0,NaN,Y,N,NaN,NaN,794383,VARCEL,UNKNOWN MANUFACTURER,UN,UN,VARICELLA (NO BRAND NAME)

In [23]:
df8 = df7.loc[df7['DISABLE'] == 'Y']
df8.head()

,VAERS_ID,AGE_YRS,SEX,HOSPITAL,HOSPDAYS,X_STAY,DISABLE,RECOVD,BIRTH_DEFECT,ALLERGIES,VAERS_ID,VAX_TYPE,VAX_MANU,VAX_ROUTE,VAX_SITE,VAX_NAME
187,794472.0,84.00,M,Y,4.0,NaN,Y,N,NaN,NaN,794383,VARCEL,UNKNOWN MANUFACTURER,UN,UN,VARICELLA (NO BRAND NAME)
392,794722.0,56.00,M,Y,15.0,NaN,Y,N,NaN,no known allergies,794621,HIBV,MERCK & CO. INC.,UN,UN,HIB (PEDVAXHIB)
444,794773.0,17.00,M,Y,2.0,NaN,Y,N,NaN,Sulfa drugs,794680,DTAPHEPBIP,GLAXOSMITHKLINE BIOLOGICALS,SYR,RL,DTAP + HEPB + IPV (PEDIARIX)
725,795231.0,20.00,F,Y,7.0,NaN,Y,N,NaN,Citrus; ZANTAC; MS04; CDN; Fentanyl; MOTRIN,794972,PPV,MERCK & CO. INC.,UN,UN,PNEUMO (PNEUMOVAX)
732,795198.0,0.08,M,Y,4.0,NaN,Y,Y,NaN,"Peanuts, amoxicillin",794979,VARZOS,MERCK & CO. INC.,UN,UN,ZOSTER LIVE (ZOSTAVAX)

In [24]:
df9 = df8.loc[df8['BIRTH_DEFECT'] == 'Y']
df9

,VAERS_ID,AGE_YRS,SEX,HOSPITAL,HOSPDAYS,X_STAY,DISABLE,RECOVD,BIRTH_DEFECT,ALLERGIES,VAERS_ID,VAX_TYPE,VAX_MANU,VAX_ROUTE,VAX_SITE,VAX_NAME
2092,796987.0,0.0,F,Y,3.0,NaN,Y,N,Y,NaN,796361,DTAP,SANOFI PASTEUR,IM,LL,DTAP (DAPTACEL)
3158,798525.0,NaN,U,Y,7.0,NaN,Y,N,Y,NaN,798154,MNQ,SANOFI PASTEUR,IM,RA,MENINGOCOCCAL CONJUGATE (MENACTRA)
4729,800887.0,0.0,F,Y,3.0,NaN,Y,N,Y,None. However pt has shown extreme reactions t...,799677,FLUC4,"SEQIRUS, INC.",IM,RA,INFLUENZA (SEASONAL) (FLUCELVAX QUADRIVALENT)
11504,809199.0,0.0,M,Y,7.0,NaN,Y,NaN,Y,None,806023,VARZOS,GLAXOSMITHKLINE BIOLOGICALS,IM,RA,ZOSTER (SHINGRIX)

In [25]:
df10 = df8.loc[df8['VAX_TYPE'] == 'VARCEL']
df10

,VAERS_ID,AGE_YRS,SEX,HOSPITAL,HOSPDAYS,X_STAY,DISABLE,RECOVD,BIRTH_DEFECT,ALLERGIES,VAERS_ID,VAX_TYPE,VAX_MANU,VAX_ROUTE,VAX_SITE,VAX_NAME
187,794472.0,84.0,M,Y,4.0,NaN,Y,N,NaN,NaN,794383,VARCEL,UNKNOWN MANUFACTURER,UN,UN,VARICELLA (NO BRAND NAME)
836,795334.0,56.0,M,Y,2.0,NaN,Y,N,NaN,Penicillin / Codeine / Shellfish,795121,VARCEL,UNKNOWN MANUFACTURER,NaN,NaN,VARICELLA (NO BRAND NAME)
5126,801394.0,3.0,M,Y,5.0,NaN,Y,N,NaN,Milk allergy lactose free,800058,VARCEL,MERCK & CO. INC.,SYR,NaN,VARICELLA (VARIVAX)
8191,805166.0,61.0,M,Y,14.0,NaN,Y,N,NaN,None,802948,VARCEL,MERCK & CO. INC.,SC,LA,VARICELLA (VARIVAX)